//Bootstrap variable overrides
@import "variables";

//Bootstrap Styles
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "styles.scss";

.formStyle {
  margin: 20px;
}

.btn-primary {
  color: $white;
}

.btn-primary:hover {
  color: $green;
  text-decoration: underline;
}

input:invalid {
  border: 2px solid $red;
}